<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email Address:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
        <ion-item>
      <ion-label floating>Password:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-row>
      <div>
      <button ion-button (click)="navigateToPage('RegisterPage')">Register</button>
      <button ion-button color="primary" (click)="navigateToPage('TabsPage')">Login</button>
      </div>
    </ion-row>
  </ion-card-content>
</ion-card>
