<ion-item *ngIf="chatIndex %2 ===0; else right">
  <ion-avatar item-left><img src="assets/img/AvatarTemp.png" alt="{{chatMessage.user.firstName}} {{chatMessage.user.lastName}}"></ion-avatar>
  <h2>Lorem Ispum</h2>
  <p>Then it began. A sound like distant fury, building within the casket. An agonising roar that was everywhere. The rage of a woken giant.</p>
</ion-item>

<ng-template #right>
  <ion-item>
    <ion-avatar item-left><img src="assets/img/AvatarTemp.png" alt="{{chatMessage.user.firstName}} {{chatMessage.user.lastName}}"></ion-avatar>
    <h2>Lorem Ispum</h2>
    <p>Then it began. A sound like distant fury, building within the casket. An agonising roar that was everywhere. The rage of a woken giant.</p>
  </ion-item>
</ng-template>
